.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 55%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
body {
    width: 50em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background: rgb(92,144,172);
    background: linear-gradient(174deg, rgba(92,144,172,1) 0%, rgba(32,51,61,1) 100%);
    background-size: cover;
    height: 100%;
}
html {
    background-repeat:no-repeat;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

.socials {
    border: 1px solid #0779bc;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background: rgb(73,120,144);
    background: linear-gradient(239deg, rgba(73,120,144,1) 0%, rgba(40,77,97,1) 100%);
    height: 100px;
}
.socials:hover {
    border: 1px solid #07bca7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background: rgb(73, 127, 144);
    background: linear-gradient(239deg, rgb(73, 127, 144) 0%, rgb(40, 82, 97) 100%);
    height: 100px;
    transform: scale(102%);
}

img {
    margin: 20px;
    width: auto;
    height: 85%;
    max-width: 85%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.socialbutton {
    /* Add desired style and border properties here */
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    width: 100%;
    background: transparent;
    border: 0;
    text-align: center;
    font-size: 2.5em;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.header {
    text-align: center;
    color: #333;
    font-size: 3.5em;
}

.refflinks {
    text-align: center;
    color: #9d9393;
    font-size: 1.5em;
}
.refflinkslinks {
    color: #6b6a77;
}




